@import '_variable';
/* reset css */
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
button {
    margin: 0px;
    padding: 0px;
    font-family: "Barlow Semi Condensed", sans-serif;
    color: $white;
}

img {
    width: 100%;
    height: 100%;
    display: block;
}

button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

a{
    text-decoration: none;
}

@mixin d-flex($direction, $justify-content, $align-items) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

%circle{
    @include d-flex(row, center, center);
    background-color: $white;
    border-radius: 100%; 
    cursor: pointer;
    &__small{
        @extend %circle;
        width: 160px;
        height: 160px;
        padding: 30px;
        border: 20px solid;
    }
    &__big{
        @extend %circle;
        width: 250px;
        height: 250px;
        padding: 60px;
        border: 30px solid;
    }
}

%paper{
    border-color: $paper;
    box-shadow: 0px 8px $paper_dark , 0 8px $lightgray inset;
}
%scissors{
    border-color: $scissors;
    box-shadow: 0px 8px $scissors_dark, 0 8px $lightgray inset;
}
%rock{
    border-color: $rock;
    box-shadow: 0px 8px $rock_dark, 0 8px $lightgray inset;
}